@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/**
Thin 100
Extra-light 200
Light 300
Regular 400
Medium 500
Semi-bold 600
Bold 700
Extra-bold 800
Black 900
**/
.theme {
  --theme: #424556;
  --text: #fbfcff;
}

.body {
  margin: 0 auto;
  padding: 0 auto;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: var(--theme);
  color: var(--text);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

* {
  outline: none;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*** scroollbar ***/
*::-webkit-scrollbar {
  width: 0px;
  background: rgba(0, 0, 0, 0) 0% 0% no-repeat padding-box;
}

*::-webkit-scrollbar-button {
  background: rbga(0, 0, 0, 0);
}

*::-webkit-scrollbar-track-piece {
  width: 0px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0);
          box-shadow: inset 0 0 6px rgb(0, 0, 0);
  border: none;
  width: 0px;
  background-color: rgba(0, 0, 0, 0);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
a :hover {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.main .image_fond {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.main .image_fond img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}
.main .main_struct {
  width: 97%;
  height: 94%;
  background: rgba(255, 0, 0, 0);
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media all and (max-width: 1000px) {
  .main .main_struct {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    width: calc(97% - 20px);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media all and (max-width: 600px) {
  .main .main_struct {
    height: 98%;
  }
}

.filter_bg::after {
  position: absolute;
  top: 0;
  content: " ";
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent radial-gradient(closest-side at 50% 50%, rgba(0, 0, 0, 0.2823529412) 0%, rgba(0, 0, 0, 0.3137254902) 100%) 0% 0% no-repeat padding-box;
  z-index: 1;
}

.welcome_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 600px;
  width: 50%;
  background: rgba(0, 128, 0, 0);
  height: 100%;
}
@media all and (max-width: 1000px) {
  .welcome_side {
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
}
@media all and (max-width: 600px) {
  .welcome_side {
    margin-bottom: 0px;
    height: auto;
  }
  .welcome_side .logo {
    margin-top: 0px;
    margin-bottom: 10px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .welcome_side .logo img {
    width: 110px;
  }
}
.welcome_side .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  align-items: center;
}
@media all and (max-width: 600px) {
  .welcome_side .intro {
    margin-top: 9vh;
  }
}
.welcome_side .intro .hi_ico {
  display: block;
  width: 3vw;
  margin-bottom: 20px;
}
@media all and (max-width: 1000px) {
  .welcome_side .intro .hi_ico {
    width: 5vw;
  }
}
@media all and (max-width: 600px) {
  .welcome_side .intro .hi_ico {
    margin-bottom: 10px;
  }
}
.welcome_side .intro .hi_ico img {
  width: 100%;
}
.welcome_side .intro .intro_title {
  display: block;
  text-align: center;
  width: 100%;
}
.welcome_side .intro .intro_title .text {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.welcome_side .intro .intro_title .t1 {
  font: normal normal 100 3vw Poppins;
  letter-spacing: 0px;
}
@media all and (max-width: 1000px) {
  .welcome_side .intro .intro_title .t1 {
    font: normal normal 100 5vw Poppins;
  }
}
@media all and (max-width: 600px) {
  .welcome_side .intro .intro_title .t1 {
    font: normal normal 100 7vw Poppins;
  }
}
.welcome_side .intro .intro_title .t2 {
  font: normal normal 100 1.7vw Poppins;
}
@media all and (max-width: 1000px) {
  .welcome_side .intro .intro_title .t2 {
    font: normal normal 100 3vw Poppins;
  }
}
@media all and (max-width: 600px) {
  .welcome_side .intro .intro_title .t2 {
    font: normal normal 100 5vw Poppins;
    display: none;
  }
}
.welcome_side .intro .date_container {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 3vh;
}
.welcome_side .intro .date_container .time {
  font: normal normal 100 8.5vw/10vw Poppins;
}
.welcome_side .intro .date_container .date_calendar {
  display: block;
  text-align: center;
  font: normal normal 100 3.6vw Poppins;
}
@media all and (max-width: 1000px) {
  .welcome_side .intro .date_container {
    display: none;
  }
}
.welcome_side .citation {
  display: block;
  text-align: left;
  width: 100%;
  margin-top: 3vh;
  font: italic normal 300 1.05vw Poppins;
  letter-spacing: 0px;
  color: #ffffff;
}
.welcome_side .citation .text {
  opacity: 0.8;
}
.welcome_side .citation .autor {
  font-style: normal;
  opacity: 1 !important;
  font-weight: 500;
  margin-top: 4px;
}
@media all and (max-width: 1000px) {
  .welcome_side .citation {
    display: none;
  }
}

.chat_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 100%;
  width: 50%;
  background: rgba(40, 42, 55, 0.5607843137) 0% 0% no-repeat padding-box;
  border: 6px solid rgba(0, 0, 0, 0.1294117647);
  border-radius: 32px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
@media all and (max-width: 1000px) {
  .chat_side {
    width: 100%;
    height: calc(60vh - 50px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@media all and (max-width: 600px) {
  .chat_side {
    height: calc(80vh - 50px);
    background: rgba(40, 42, 55, 0.662745098) 0% 0% no-repeat padding-box;
    border: 4px solid rgba(0, 0, 0, 0.0666666667);
  }
}
@media all and (max-width: 420px) {
  .chat_side {
    height: calc(79vh - 50px);
  }
}
.chat_side .chat_side_struct {
  display: block;
  width: 95%;
  height: 95%;
  border-radius: 12px;
  position: relative;
}
@media all and (max-width: 600px) {
  .chat_side .chat_side_struct {
    height: 95%;
  }
}
.chat_side .chat_side_struct .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media all and (max-width: 1000px) {
  .chat_side .chat_side_struct .tools {
    height: 10%;
  }
}
@media all and (max-width: 600px) {
  .chat_side .chat_side_struct .tools {
    height: 40px;
    margin-top: 8px;
  }
}
.chat_side .chat_side_struct .tools .online_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.chat_side .chat_side_struct .tools .online_box .circle {
  width: 55px;
  height: 55px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media all and (max-width: 1000px) {
  .chat_side .chat_side_struct .tools .online_box .circle {
    width: 30px;
    height: 30px;
  }
}
.chat_side .chat_side_struct .tools .online_box .circle::after {
  position: absolute;
  top: 0;
  right: 0;
  content: " ";
  width: 12px;
  height: 12px;
  background: #20db58 0% 0% no-repeat padding-box;
  border: 2px solid var(--text);
  border-radius: 50%;
}
@media all and (max-width: 1000px) {
  .chat_side .chat_side_struct .tools .online_box .circle::after {
    width: 8px;
    height: 8px;
    border: 1px solid var(--text);
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
}
.chat_side .chat_side_struct .tools .online_box .circle .line_ico {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--theme);
  color: var(--text);
}
.chat_side .chat_side_struct .tools .online_box .circle .line_ico img {
  width: 70%;
}
.chat_side .chat_side_struct .tools .online_box .text_online {
  display: block;
  margin-left: 10px;
  letter-spacing: 0px;
  color: var(--text);
}
.chat_side .chat_side_struct .tools .online_box .text_online .t1 {
  font: normal normal normal 20px/20px Poppins;
}
@media all and (max-width: 1000px) {
  .chat_side .chat_side_struct .tools .online_box .text_online .t1 {
    font: normal normal normal 15px Poppins;
  }
}
.chat_side .chat_side_struct .tools .online_box .text_online .t2 {
  margin-top: 3px;
  font: normal normal normal 16px Poppins;
  letter-spacing: 0px;
  opacity: 0.63;
}
@media all and (max-width: 1000px) {
  .chat_side .chat_side_struct .tools .online_box .text_online .t2 {
    margin-top: 0px;
    font: normal normal normal 11px Poppins;
  }
}
.chat_side .chat_side_struct .tools .switch_theme {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 64px;
  height: 20px;
  background: var(--theme) 0% 0% no-repeat padding-box;
  border-radius: 50px;
  opacity: 1;
  border: 8px solid var(--theme);
}
@media all and (max-width: 1000px) {
  .chat_side .chat_side_struct .tools .switch_theme {
    width: 54px;
    height: 18px;
    border: 8px solid var(--theme);
  }
}
.chat_side .chat_side_struct .tools .switch_theme .ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media all and (max-width: 1000px) {
  .chat_side .chat_side_struct .tools .switch_theme .ico {
    background: transparent;
    height: 25px;
    width: 25px;
  }
}
.chat_side .chat_side_struct .tools .switch_theme .ico img {
  width: 60%;
}
.chat_side .chat_side_struct .tools .switch_theme .active {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #194056;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.chat_side .chat_side_struct .tools .switch_theme .active img {
  width: 60%;
}
.chat_side .chat_side_struct .chat_container {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-height: 75%;
  overflow-y: auto;
  position: relative;
  /*** scroollbar ***/
}
@media all and (max-width: 1000px) {
  .chat_side .chat_side_struct .chat_container {
    margin-top: 0px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-height: 80%;
  }
}
@media all and (max-width: 600px) {
  .chat_side .chat_side_struct .chat_container {
    max-height: calc(100% - 40px - 10%);
  }
}
.chat_side .chat_side_struct .chat_container::-webkit-scrollbar {
  width: 20px;
  cursor: pointer;
}
@media all and (max-width: 1000px) {
  .chat_side .chat_side_struct .chat_container::-webkit-scrollbar {
    width: 15px;
  }
}
.chat_side .chat_side_struct .chat_container::-webkit-scrollbar-track {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 0px black;
  box-shadow: inset 0 0 0px black;
  background: -webkit-gradient(linear, right top, left top, color-stop(39%, transparent), color-stop(var(--theme)), color-stop(58%, transparent));
  background: linear-gradient(to left, transparent 39%, var(--theme), transparent 58%);
}
.chat_side .chat_side_struct .chat_container::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 6px solid transparent;
  background-clip: content-box;
  background-color: var(--theme);
}
.chat_side .chat_side_struct .chat_container .chat_container_struct {
  width: 97%;
  display: block;
  padding-top: 20px;
}
@media all and (max-width: 1000px) {
  .chat_side .chat_side_struct .chat_container .chat_container_struct {
    padding-top: 10px;
    height: 90%;
  }
}
.chat_side .chat_side_struct .chat_container .chat_container_struct .item_msg {
  /* UI Properties */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5px;
}
@media all and (max-width: 1000px) {
  .chat_side .chat_side_struct .chat_container .chat_container_struct .item_msg {
    margin-top: 0px;
  }
}
.chat_side .chat_side_struct .chat_container .chat_container_struct .item_msg .item_msg_box {
  padding: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  font: normal normal normal 1em Poppins;
  letter-spacing: 0px;
  color: var(--text);
  max-width: 65%;
  white-space: pre-line;
  word-wrap: break-word;
}
@media all and (max-width: 1000px) {
  .chat_side .chat_side_struct .chat_container .chat_container_struct .item_msg .item_msg_box {
    font: normal normal normal 0.8em Poppins;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.chat_side .chat_side_struct .chat_container .chat_container_struct .item_msg .item_msg_box_time {
  font: normal normal normal 12px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.59;
  margin-top: 1px;
}
@media all and (max-width: 1000px) {
  .chat_side .chat_side_struct .chat_container .chat_container_struct .item_msg .item_msg_box_time {
    font: normal normal normal 0.6em Poppins;
  }
}
.chat_side .chat_side_struct .chat_container .chat_container_struct .receive .item_msg_box {
  background: #1b8ffa 0% 0% no-repeat padding-box;
  border-radius: 30px 30px 30px 4px;
}
@media all and (max-width: 1000px) {
  .chat_side .chat_side_struct .chat_container .chat_container_struct .receive .item_msg_box {
    border-radius: 15px 15px 15px 4px;
  }
}
.chat_side .chat_side_struct .chat_container .chat_container_struct .send {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.chat_side .chat_side_struct .chat_container .chat_container_struct .send .item_msg_box {
  background: #282a37 0% 0% no-repeat padding-box;
  border-radius: 30px 30px 4px 30px;
}
@media all and (max-width: 1000px) {
  .chat_side .chat_side_struct .chat_container .chat_container_struct .send .item_msg_box {
    border-radius: 15px 15px 4px 15px;
  }
}
.chat_side .chat_side_struct .writting {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}
@media all and (max-width: 1000px) {
  .chat_side .chat_side_struct .writting {
    height: auto;
    position: fixed;
    width: 95%;
    bottom: 10px;
  }
}
.chat_side .chat_side_struct .writting .alert_action {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  font: normal normal normal 13px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  padding-top: 4px;
  padding-bottom: 3px;
}
@media all and (max-width: 1000px) {
  .chat_side .chat_side_struct .writting .alert_action {
    font: normal normal normal 0.6em Poppins;
  }
}
.chat_side .chat_side_struct .writting .alert {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0.59;
}
.chat_side .chat_side_struct .writting .input_box {
  width: 100%;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 10px solid var(--theme);
  background: var(--theme);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media all and (max-width: 1000px) {
  .chat_side .chat_side_struct .writting .input_box {
    border: 5px solid var(--theme);
    height: 50px;
  }
}
@media all and (max-width: 600px) {
  .chat_side .chat_side_struct .writting .input_box {
    border: 4px solid var(--theme);
    height: 45px;
  }
}
.chat_side .chat_side_struct .writting .input_box textarea {
  padding-left: 10px;
  padding-top: 4px;
  border: none;
  padding-bottom: 4px;
  width: 90%;
  padding-right: 10px;
  color: var(--text);
  font-family: Poppins;
  font-size: 20px;
  height: 50px;
  background: var(--theme) 0% 0% no-repeat padding-box;
  border-radius: 20px;
}
@media all and (max-width: 1000px) {
  .chat_side .chat_side_struct .writting .input_box textarea {
    height: 100%;
    font: normal normal normal 0.8em Poppins;
  }
}
.chat_side .chat_side_struct .writting .input_box .btn_send {
  height: 100%;
  width: 60px;
  background: #282a37;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media all and (max-width: 1000px) {
  .chat_side .chat_side_struct .writting .input_box .btn_send {
    width: 50px;
  }
}
@media all and (max-width: 600px) {
  .chat_side .chat_side_struct .writting .input_box .btn_send {
    width: 46px;
  }
}
.chat_side .chat_side_struct .writting .input_box .btn_send img {
  height: 50%;
}

.gamer_verser {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #194056;
  z-index: 999999999;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.gamer_verser .tank {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
}
.gamer_verser .tank img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bullet {
  position: fixed;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
}

.padtouch {
  position: fixed;
  bottom: 3%;
  left: 50%;
  -webkit-transform: translate(calc(-50% - 60px));
          transform: translate(calc(-50% - 60px));
  z-index: 1000;
  width: 300px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media all and (max-width: 500px) {
  .padtouch {
    width: 100%;
    -webkit-transform: translate(calc(-50% - 60px)) scale(0.9);
            transform: translate(calc(-50% - 60px)) scale(0.9);
  }
}
.padtouch .contain_touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.padtouch .contain_touch .touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 60px;
  margin: 3px;
  background: white;
  color: #282a37;
  font-size: 1.5em;
  opacity: 0.1;
  -webkit-transition: 0.3;
  transition: 0.3;
  border-radius: 12px;
}
.padtouch .contain_touch .touch:active {
  opacity: 1;
  -webkit-transition: 0.3;
  transition: 0.3;
}
.padtouch .contain_touch .active {
  opacity: 1;
  -webkit-transition: 0.3;
  transition: 0.3;
}
.padtouch .fire {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 60px;
  margin: 3px;
  background: white;
  color: #282a37;
  font-size: 1em;
  opacity: 0.1;
  font-weight: 800;
  border-radius: 12px;
  -webkit-transition: 0.3;
  transition: 0.3;
  content: attr("fire");
  position: absolute;
  right: 0px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  bottom: 0px;
}
.padtouch .fire:active {
  opacity: 1;
  -webkit-transition: 0.3;
  transition: 0.3;
}

.square {
  width: 100px;
  height: 100px;
  position: absolute;
}